@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
body{
    background-image:url(../img/gun.png),url(../img/bg.jpg);
    background-position: center top, left top;
    background-repeat: no-repeat,repeat;
    background-size: contain,auto;
    font-size: 25px;
    color:red;
    font-family: 'Goblin One', cursive;
}
.restoranInfo{
	padding: 5px;
	background-color:brown;
	margin:10px;
	font-size: 16px;
}
li{
	list-style-type: none;
}
.tablebox{
	margin:30px;
	display: inline-block;
}
.nextTable{
	display: flex;
	flex-direction: row;
}
.client{
	width: 50px;
	height: 50px;
	background-color: green;
	border-radius: 5px;
	border:5px green inset;
	opacity: 0.8;
}
.moreInfo{
	display: none;
}
.menuList{
	display: none;
}
#wrapper{
	width:1000px;
	margin:50px auto;
	text-align: center;
	
}
#result{
	padding: 50px;
	width: 200px;
	background-image: url(../img/1.png);
	background-size: 300px;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color:#8B4513;
	font-size: 16px;
}
button{
	width: 200px;
	height: 40px;
	margin-top: 10px;
	background-color: #8B4513;
	margin-left: 10px;
}
#orderInfo{
	background-color: yellow;
	border-radius: 10px;
	background-image: url(../img/menu.jpg);
	background-repeat: repeat;
	background-size: cover;
}
#orderInfo li{
	padding: 10px;
}